@media (max-width: 560px) {
    
}
.order_blade div.form-group{
        margin-bottom: 3px;
}
.ui-widget-overlay{
/* position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;    
background-color: black;
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
background-color: rgba(0, 0, 0, 0.4);
opacity: 1;*/
z-index: 10000;
}
.ui-front {
  z-index: 99999;
}
span.select2-dropdown.select2-dropdown--above, span.select2-dropdown.select2-dropdown--below{
   z-index: 100000;
}
.download_link{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.download_td{
    padding-bottom: 5px;
    padding-top: 5px;
}
.del_file{
    color: red;
    font-size: 15px;
    cursor: pointer;
}
td.td_ellipsis{
    overflow: hidden;
    text-overflow:ellipsis;
    max-width: 100px;
    white-space: nowrap;
}
.dataTables_filter {
   display: none;
}